<template>
  <v-dialog

      max-width="600"
      v-model="ver"
      persistent
      class="pb-10">
    <v-card>
      <br/>
      <span class="pb-10">
          <br/>
          <h1 class="text-center pb-10" v-show="sueldo>0">el sueldo es {{sueldo}} $</h1>
          <h1 class="text-center pb-10" v-show="sueldo==0">Empleado no existente o fecha no trabajada....</h1>

      </span>
      <br/>
      <v-btn
          :style="{left: '50%', transform:'translateX(-50%)'}"
          @click="cerrarDialog">
        Cerrar
      </v-btn>
      <br/>
      <br/>

    </v-card>
  </v-dialog>

</template>

<script>
export default {
  name: "DialogMostrarSueldo",
  props:{
    sueldo: {
      defaultType: Number
    },
    verDialog: {default: false}
  },
  data(){
    return{
      ver: false,
      verificador:false,
    }
  },
  watch: {
    verDialog() {

      this.ver = this.verDialog;
    },

    ver(newVal) {
      if (!newVal) {
        this.$emit("ocultarDialog", false);
      }
    }
  },
  methods:{
    cerrarDialog(){
      this.$emit("ocultarDialog", false);
    },
    verificarSueldo(){
      if(this.sueldo == false){
        this.verificador==false
      }else{
        this.verificador==true
      }
    }
  }
}
</script>

<style scoped>

</style>