<template>
  <div class="d-flex flex-column justify-center align-center pt-5">
    <v-text-field
        maxlength="8"
        counter="8"
        @keydown="guardarRutEmpleado"
        class="align-self-stretch"
        label="Ingrese su rut para consultar, enter para guardar."
        v-model="rut"
        :disabled="cargandoDatos"
    >
    </v-text-field>
    <br/>
    <p>Seleccione el rango de fechas a consultar</p>
    <br/>
    <v-date-picker
        dark
        class="pt-5"
        v-model="fechas"
        range
        :disabled="cargandoDatos"
    >
    </v-date-picker>
    <br/>
    <v-btn
        class="align-center"
        color="primary"
        elevation="5"
        large
        outlined
        @click="enviarDatos"
        :loading="cargandoDatos"
    >Buscar
    </v-btn>
    <br/>
  </div>
</template>

<script>
import empleadoEntity from "@/model/empleado/empleado.entity";
import {EventBus} from "@/main";

export default {
  name: "IngresarRutYFecha",
  props: {
    cargandoDatos: {
      default: false,
    }
  },
  data() {
    return {
      rut: empleadoEntity.obtenerRutEmpleado(),
      fechas: [],
    }
  },
  methods: {
    enviarDatos() {
      this.$emit("e-rut-y-fecha-enviados", {rut: this.rut, fechas: this.fechas});
    },
    guardarRutEmpleado(){
      EventBus.$emit("e-rut-modificado");
      empleadoEntity.guardarRutEmpleado(this.rut);
    }
  }
}
</script>

<style scoped>

</style>