<template>
  <v-dialog max-width="800" v-model="ver" persistent>
    <v-card>
      Hola
      <v-btn @click="cerrarDialog">
        Cerrar
      </v-btn>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "ModalExito",
  props: {
    verDialog: {default: false}
  },
  data(){
    return{
      ver: false,
    }
  },
  watch: {
    verDialog() {
      this.ver = this.verDialog;
    },

    ver(newVal) {
      if (!newVal) {
        this.$emit("ocultarDialog", false);
      }
    }
  },
  methods:{
    cerrarDialog(){
      this.$emit("ocultarDialog", false);
    }
  }
}
</script>

<style scoped>

</style>