<template>
  <v-container>
    <v-card

        elevation="2"
        class="mt-5">
      <v-card-title>Ingresar Empleado</v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="12" class="d-flex flex-column justify-center align-center pt-5">
            <v-text-field
                maxlength="8"
                counter="8"
                class="align-self-stretch"
                label="Rut"
                v-model="rut"
                :rules="rules"
            >
            </v-text-field>
            <v-text-field
                class="align-self-stretch"
                label="Nombre"
                v-model="nombre"
                :rules="rules"
            >
            </v-text-field>
            <v-text-field
                class="align-self-stretch"
                label="Sueldo"
                v-model="sueldo"
                :rules="rules"
            >
            </v-text-field>
            <v-text-field
                counter="2"
                maxlength="2"
                class="align-self-stretch"
                label="Hora de entrada"
                v-model="horaEntrada"
                :rules="rules"
            >
            </v-text-field>
            <v-text-field
                counter="2"
                maxlength="2"
                class="align-self-stretch"
                label="Hora de salida"
                v-model="horaSalida"
                :rules="rules"
            >
            </v-text-field>
            <v-btn
                class="align-center"
                color="primary"
                elevation="5"
                large
                outlined
                @click="ingresarEmpleado"
            >ingresar</v-btn>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>

    <v-dialog
        max-width="600"
        v-model="showDialog"
        persistent
        class="pb-10">
      <v-card>
      <span class="pb-10">
           <br/>
           <br/>
          <h1 class="text-center pb-10" >{{respuesta}}</h1>

      </span>
        <v-btn
            :style="{left: '50%', transform:'translateX(-50%)'}"
            @click="cerrarDialog">
          Cerrar
        </v-btn>
        <br/>
      </v-card>
    </v-dialog>

    <ComponenteDerechosDeAutor />
  </v-container>
</template>

<script>
import jefeEntity from "@/model/jefe/jefe.entity";
import ComponenteDerechosDeAutor from "@/components/CopyRigth/ComponenteDerechosDeAutor";

export default {
  name: "IngresarEmpleadoIndex",
  components:{ComponenteDerechosDeAutor},
  data() {
    return {
      showDialog:false,
      nombre: null,
      rut: null,
      sueldo: null,
      horaEntrada: null,
      horaSalida: null,
      respuesta: null,
      rules: [
        value => !!value || 'Required.',
        value => (value && value.length >= 1) || 'Min 1 characters',

      ],
    }
  },
  methods : {
    ingresarEmpleado(){
      jefeEntity.crearEmpleado(this.nombre,this.rut,this.sueldo,this.horaEntrada,this.horaSalida).then((response) => {
        this.respuesta = response;
        this.showDialog=true;
        console.log("funciona xD", response)
      }).catch((error) => {
        console.log(error)
      })
    },
    cerrarDialog(){
      this.showDialog=false;
    }
  }

}
</script>

<style scoped>

</style>