<template>
  <v-container>
    <v-card
        elevation="2"
        class="mt-5">
      <v-card-title>consultar sueldo</v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="12">
            <br/>
            <IngresarRutYFecha
                @e-rut-y-fecha-enviados="consultarSueldo($event)"
                :cargando-datos="cargandoSueldo"
            />
            <br/>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
    <br/>
    <DialogMostrarSueldo
        :sueldo="sueldo"
        :verDialog="verDialogMostrarSueldo"
        @ocultarDialog="cerrarDialogMostrarSueldo($event)"
    />
    <ComponenteDerechosDeAutor />
  </v-container>
</template>

<script>
import empleadoEntity from "@/model/empleado/empleado.entity";

import IngresarRutYFecha from "@/components/MostrarSueldo/IngresarRutYFecha";
import DialogMostrarSueldo from "@/components/MostrarSueldo/DialogMostrarSueldo";
import ComponenteDerechosDeAutor from "@/components/CopyRigth/ComponenteDerechosDeAutor";

export default {
  name: "MostrarSueldoIndex",
  components: {DialogMostrarSueldo, IngresarRutYFecha , ComponenteDerechosDeAutor},
  data(){
    return {
      verDialogMostrarSueldo: false,
      //sdasdsadsad
      sueldo: null ,
      cargandoSueldo: false,
    }
  },
  methods: {
    consultarSueldo(data){
        this.cargandoSueldo = true;
        empleadoEntity.getGananciaEntreFechas(data.rut,data.fechas[0],data.fechas[1]).then((response)=>{
        this.sueldo = response;
        this.verDialogMostrarSueldo = true;
        console.log( "el sueldo es ",response);
      }).catch((error)=>{
        console.error(error);
      }).finally(()=>{
          this.cargandoSueldo = false;
        })
      console.log(this.sueldo);
    },
    cerrarDialogMostrarSueldo(event){
      this.verDialogMostrarSueldo = event;
      console.log("cerrar dialog si se ejecutó");
    },

  }
}
</script>

<style scoped>

</style>