<template>
  <div>
    <v-navigation-drawer
        style="height: 100%"
        :value="value"
        @input="$emit('input', $event)"
        disable-resize-watcher
        fixed
        app
        width="220"
        color="white"
    >
      <v-list-item>
        <v-list-item-content class="pa-2">
          <v-list-item-title class="text-h6">
            Rut Empleado
          </v-list-item-title>
          <v-list-item-subtitle>
            {{ empleadoEntity.obtenerRutEmpleado() }}
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-list
          dense
      >

        <!--
          <v-list-item
              link
              to="/ventas"
          >
            <v-list-item-icon>
              <v-icon>mdi-point-of-sale</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Ventas</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        -->

        <v-list-group
            prepend-icon="mdi-account-hard-hat"
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>Empleado</v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
              link
              to="/"
          >
            <v-list-item-content>
              <v-list-item-title>Mostrar sueldo</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item
              link
              to="/marcar-entrada"
          >
            <v-list-item-content>
              <v-list-item-title>Marcar entrada</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item
              link
              to="/marcar-salida"
          >
            <v-list-item-content>
              <v-list-item-title>Marcar salida</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

        </v-list-group>

        <v-list-group
            prepend-icon="mdi-account-tie"
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>Jefe</v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
              link
              to="/traer-empleado"
          >
            <v-list-item-content>
              <v-list-item-title>Traer Empleado</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item
              link
              to="/ingresar-empleado"
          >
            <v-list-item-content>
              <v-list-item-title>Ingresar Empleado</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

        </v-list-group>

      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>

import DrawerMixin from "../mixins/DrawerMixin";
import empleadoEntity from "@/model/empleado/empleado.entity";

export default {
  mixins: [DrawerMixin],
  data() {
    return {
      empleadoEntity: empleadoEntity,
    }
  }
};
</script>