<template>
  <v-app>
    <IndexCompoundDrawer v-model="showDrawer"/>
    <IndexCompoundHeader
        dark
        @show-drawer="handleShowDrawer()"/>
    <v-main>
      <v-fade-transition mode="out-in">
        <router-view ></router-view>
      </v-fade-transition>
    </v-main>
  </v-app>
</template>

<script>
import IndexCompoundDrawer from "./IndexCompoundDrawer.vue";
import IndexCompoundHeader from "./IndexCompoundHeader.vue";
import CompoundMixin from "../mixins/CompoundMixin";

export default {
  name: "indexCompound",
  components: {
    IndexCompoundHeader,
    IndexCompoundDrawer
  },
  mixins: [CompoundMixin],
};
</script>

<style scoped>
p{
  color: whitesmoke;
}
</style>