<template>
  <div>
    <v-app-bar
        app
        dark
        color="primary"
        dense
    >
      <v-app-bar-nav-icon
          @click.stop="showDrawer()"
      >
      </v-app-bar-nav-icon>


      <v-toolbar-title class="pl-0">
        <div class="d-flex ">

          <span>App de chris uwu</span>
        </div>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-badge
          id="badge-propio"
          color="red"
          :content="contador"
      >
        <v-icon>
          mdi-heart
        </v-icon>
      </v-badge>

    </v-app-bar>
  </div>
</template>

<script>

import HeaderMixin from "../mixins/HeaderMixin";
import {EventBus} from "@/main";

export default {
  name: "WebPageCompoundHeader",
  mixins: [HeaderMixin],
  data(){
    return{
      contador: 0,
    }
  },
  created() {
    EventBus.$on("e-rut-modificado", () => {
      this.contador = this.contador + 1;
    });
  },
};
</script>

<style>
#badge-propio .v-badge__badge {
  height: 15px;
  padding: 2px 6px;
}
</style>