<template>
  <v-dialog
      max-width="600"
      v-model="showDialog"
      persistent
      class="pb-10">
    <v-card>
      <span class="pb-10">
          <h1 class="text-center pb-10"> Marcar Entrada Dialog</h1>
          <h1 class="text-center pb-10" >{{respuesta}}</h1>

      </span>

      <v-btn
          :style="{left: '50%', transform:'translateX(-50%)'}"
          @click="cerrarDialog">
        Cerrar
      </v-btn>
    </v-card>
  </v-dialog>

</template>

<script>

export default {
  name: "DialogMarcarEntrada",
  props:{
    respuesta:{},
  },
  data(){
    return{
      showDialog: false,
      verificador:false,
    }
  },
methods:{
  cerrarDialog(){
    this.showDialog=false;
  }
}
}
</script>

<style scoped>

</style>