<template>
  <div class="d-flex flex-column justify-center align-center pt-5">

      <v-text-field
          class="align-self-stretch"
          @keydown="guardarRutEmpleado"
          label="Rut"
          counter="8"
          maxlength="8"
          v-model="rut"
          :disabled="cargandoDatos"
      >
      </v-text-field>
      <v-btn
          class="align-self-end"
          color="primary"
          elevation="5"
          large
          outlined
          @click="enviarDatos"
          :loading="cargandoDatos"
      >Ingresar Entrada
      </v-btn>

  </div>
</template>

<script>
import empleadoEntity from "@/model/empleado/empleado.entity";
import {EventBus} from "@/main";

export default {
  name: "IngresarEntrada",
  props: {
    cargandoDatos: {
      default: false,
    }
  },
  data() {
    return {
      rut: empleadoEntity.obtenerRutEmpleado(),
    }
  },
  methods: {
    enviarDatos() {
      this.$emit("e-rut", {rut: this.rut});
    },
    guardarRutEmpleado(){
      EventBus.$emit("e-rut-modificado");
      empleadoEntity.guardarRutEmpleado(this.rut);
    }
  }
}
</script>

<style scoped>

</style>