<template>
  <v-container>
    <v-card
        elevation="2"
        class="mt-5">
      <v-card-title>Marcar Entrada</v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="12" class="d-flex flex-column justify-center align-center pt-5">
            <br/>
            <v-text-field
                class="align-self-stretch"
                label="Rut"
                v-model="rut"
                counter="8"
                maxlength="8"
            >
            </v-text-field>
            <v-btn
                class="align-center"
                color="primary"
                elevation="5"
                large
                outlined
                :model="showDialog"
                @click="marcarEntrada"

            >Ingresar Entrada
            </v-btn>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>

    <v-dialog
      max-width="600"
      v-model="showDialog"
      persistent
      class="pb-10">
    <v-card>
      <span class="pb-10">
           <br/>
           <br/>
          <h1 class="text-center pb-10" >{{respuesta}}</h1>

      </span>
      <v-btn
          :style="{left: '50%', transform:'translateX(-50%)'}"
          @click="cerrarDialog">
        Cerrar
      </v-btn>
      <br/>
    </v-card>
  </v-dialog>
  <ComponenteDerechosDeAutor />
  </v-container>
</template>


<script>
import empleadoEntity from "@/model/empleado/empleado.entity";
import ComponenteDerechosDeAutor from "@/components/CopyRigth/ComponenteDerechosDeAutor";
export default {
  name: "MarcarAsistenciaIndex",
  components:{ComponenteDerechosDeAutor}
  , data() {
    return {
      rut: empleadoEntity.obtenerRutEmpleado(),
      respuesta: "",
      showDialog: false
    }
  },
  methods: {
    marcarEntrada() {
      empleadoEntity.createMarcarEntrada(this.rut).then((response) => {
        this.respuesta = response;
        this.showDialog = true;
        console.log("funciona", response)
      }).catch((error) => {
        console.log(error)
      })
    },
    cerrarDialog(){
      this.showDialog=false;
    }
  }
}
</script>

<style scoped>

</style>