<template>
  <v-container>
    <v-card
        elevation="2"
        class="mt-5">
      <v-card-title>Traer Empleado</v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="12" class="d-flex flex-column justify-center align-center pt-5">
            <v-text-field
                class="align-self-stretch"
                label="Rut"
                v-model="rut"
                counter="8"
                maxlength="8"
                :rules="rules"
            >
            </v-text-field>
            <v-btn
                class="align-self-end"
                color="primary"
                elevation="5"
                large
                outlined
                @click="mostrarEmpleado()"
            >Buscar</v-btn>
          </v-col>

        </v-row>
      </v-card-text>
    </v-card>

    <v-dialog
        max-width="600"
        v-model="showDialog"
        persistent
        class="pb-10">
      <v-card>
      <span class="pb-10">
           <br/>
          <span v-if="empleado.rut!=0">
          <v-col cols="12" class="d-flex flex-column justify-center align-center pt-5">
            <h2 class="d-flex flex-row mt-5" >nombre       : {{empleado.nombre_empleado}} </h2>
            <h2 class="d-flex flex-row mt-5" >sueldo       : {{empleado.sueldo}} </h2>
            <h2 class="d-flex flex-row mt-5" >rut          : {{empleado.rut}} </h2>
            <h2 class="d-flex flex-row mt-5" >hora entrada : {{empleado.hora_entrada_empleado}} horas </h2>
            <h2 class="d-flex flex-row mt-5" >hora salida  : {{empleado.hora_salida_empleado}} horas </h2>
          </v-col>
          </span>
          <span v-else-if="empleado.rut==0">
            <h2 class="d-flex flex-column justify-center align-center pt-5" >
            El empleado no existe...
            </h2>
          </span>
          <br/>
      </span>
        <br/>
        <v-btn
            class="align-center"
            @click="cerrarDialog">
          Cerrar
        </v-btn>
        <br/>
        <br/>
      </v-card>
    </v-dialog>

    <ComponenteDerechosDeAutor />
  </v-container>
</template>

<script>
import jefeEntity from "@/model/jefe/jefe.entity";
import ComponenteDerechosDeAutor from "@/components/CopyRigth/ComponenteDerechosDeAutor";

export default {
  name: "TraerEmpleadoIndex",
  components:{ComponenteDerechosDeAutor}
  ,data(){
    return {
      rut : 0,
      empleado:"",
      showDialog:false,
      rules: [
        value => !!value || 'Required.',
        value => (value && value.length >= 1) || 'Min 1 characters',
      ],
    }
  },
  methods : {
    mostrarEmpleado(){

      jefeEntity.getEmpleado(this.rut).then((response) => {
        this.empleado = response
        console.log("funciona xd ", response)
        this.showDialog = true
      }).catch((error) => {
        console.log(error)
      })
    },

    cerrarDialog(){
      this.showDialog=false;
    }
  }
}
</script>

<style scoped>

</style>