<template>
  <IndexCompound/>
</template>

<script>
import IndexCompound from "@/views/IndexCompound";
export default {

  name: 'App',
  components : {
    IndexCompound
  },
  data: () => ({

  }),
};

</script>
