<template>
  <v-card>
    <br/>
    <br/>
    <br/>
    <h4>por christopher adasme</h4>

  </v-card>
</template>

<script>
export default {
  name: "ComponenteDerechosDeAutor"
}
</script>

<style scoped>

</style>